// Place all the styles related to the books controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scroll {
  overflow-x: hidden;
}

.books {
  position: relative;
  left: 33vw;
}

.left {
  padding-left: 10vw;
}

.right {
  position: absolute;
  top: 1.5vw;
  left: 62.5vw;
}

.timer {
  position: absolute;
  top: 1.5vw;
  left: 46.5vw;
}

.shelf {
  position: relative;
  top: 1vw;
  padding-left: 10vw;
}

.leaf {
  top: 0.2vw;
  position: relative;
  left: 40vw;
}

.seep {
  top: 10vw;
  position: relative;
  left: 40vw;
}

.loginf {
  position: relative;
  left: 19vw;
}

.sponsor {
  position: absolute;
  top: 4.5vw;
  left: 54vw;
}

.silver {
  position: absolute;
  top: 5.5vw;
  left: 47vw;
  animation: rotate-anime 3s linear infinite;
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pythonista {
  position: absolute;
  top: 5.5vw;
  left: 40vw;
  animation: rotate-anime 3s linear infinite;
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pyruby {
  position: absolute;
  top: 5.5vw;
  left: 33vw;
  animation: rotate-anime 3s linear infinite;
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.attach {
  pointer-events: auto;
}