// Place all the styles related to the books controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books {
  position: absolute;
  left: 35vw;
}

.left {
  padding-left: 10%;
}

.timer {
  position: absolute;
  left: 45vw;
}