// Place all the styles related to the books controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scroll {
  overflow-x: hidden;
}

.books {
  position: relative;
  left: 33vw;
}

.left {
  padding-left: 10vw;
}

.right {
  position: absolute;
  top: 1vw;
  left: 62.5vw;
}

.timer {
  position: absolute;
  left: 46.5vw;
}

.shelf {
  position: relative;
  top: 1vw;
  padding-left: 10vw;
}

.leaf{
  position: relative;
  left: 40vw;
}

.loginf {
  position: relative;
  left: 19vw;
}
