.admin_buttons {
  position: relative;
  top: 0.5vw;
  left: 92.5vw;
}

.body_wording {
  font-size: 3em;
  top: 20vw;
  position: relative;
  left: 35vw;
}

.typ {
  opacity: 0;
}

.typ span {
  opacity: 0;
}
